:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

main {
    max-width: 100vw;
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

header {
    height: 70px;
    padding: 15px;
    display: flex;
    background: darkolivegreen;
    color: white;
}

header img {
    margin-left: 10px;
}

header h1 {
    margin-left: 15px;
    font-size: x-large;
}

nav {
    background: rgb(133, 123, 82);
    overflow: hidden;
}

nav a {
    width: 100%;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav a.selected {
    background: rgb(145, 132, 89);
}

nav a:hover {
    transition: 70ms ease-in;
    background: rgb(155, 144, 102);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(57, 68, 38);
}

footer a {
    color: white !important;
    text-decoration: none;
}

footer img {
    border-left: 1px solid white;
    margin-left: 25px;
    padding-left: 25px;
}

.attribution {
    font-size: x-small;
}

.min-h-main {
    min-height: calc(100vh - 86px - 41px - 45px);
}

.img-tecnica {
    height: 250px;
}

@media screen and (min-width: 576px) {
    .img-tecnica {
        height: unset;
        width: 100%;
    }
}